{% extends 'teamapp/team_base.html' %}
{% block body_block %}

 <div class="jumbotron">
  
   <h1>Welcome to RCB Team's management page!</h1>
   <h3>Here's a guide to the website:</h3>
   <ul>
     <li>
       <h5>HOME</h5>
       <p>Brings you back to this page from wherever you are!</p>
     </li>
     <li>
       <h5>Matches</h5>
       <p>Displays the list of matches our team has played and also the details of each match.</p>
     </li>
     <li>
       <h5>Player</h5>
       <p>Displays the list of all of our team's players and their personal details.</p>
     </li>
     <li>
       <h5>Batsman</h5>
       <p>Displays the list of professional statistics of our batters!</p>
     </li>
     <li>
       <h5>Bowler</h5>
       <p>Displays the list of professional statistics of our bowlers!</p>
     </li>
     <li>
       <h5>Auction</h5>
       <p>Displays the details of the price in $ at which our players were bought or sold!</p>
     </li>
     <li>
       <h5>Venue</h5>
       <p>Displays the list of all the venues at which our team's matches are held</p>
     </li>
     <li>
       <h5>Stored Procedure 1</h5>
       <p>For given player name, it displays the details of that particular player in Player and Batsman table.</p>
     </li>
     <li>
       <h5>Stored Procedure 2</h5>
       <p>For given player name, it displays the details of that particular player in Player and Bowler table.</p>
     </li>
   </ul>
 </div>

{% endblock %}
